# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
release/
/tmp
/out-tsc
yarn-error.log

# dependencies
node_modules/

# IDEs and editors
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/coverage
.nyc_output
npm-debug.log
/typings

# System Files
.DS_Store
Thumbs.db

site/assets/styles.min.css
dist
